


{%extends 'base.html'%}
{%block content%}
{%load static%}
<style>
#inp{
    text-transform: capitalize;
}
</style>

<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

<!--&lt;!&ndash; Optional theme &ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

<body class="main-layout" style="background:whitesmoke">

<div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Products</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
    </div>

                        <div class="container"></div></body>
   <div class="brand-bg">
            <div class="container">

<form class="form-group" action="{% url 'search_results' %}" method="get">
  <input class="form-control" type="text" placeholder="Search" id="inp" name="searched" >
    <button class="btn btn-primary"><i class="fas fa-search"> Search</i></button>
</form>
                <div class="row">

{%for item in object_list%}


                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">

                            <img src="{{item.img_url}}" alt="img" />
                            <a href="" style="position:relative;height:30px; width:70px; top:-150px;font-family:sans-serif;" class="badge badge-{{item.get_label_display}}"><h5>{{item.get_category_display}}</h5></a>
                            <h3><img src="{%static 'images/download.png'%}" style="height:30px; width:30px;"><strong class="red">
                                {%if item.discount%}
                                {{item.discount}}
                                {%else%}
                                {{item.price}}
                                {%endif%}
                            </strong></h3>
                            <span class="badge badge-pill {{item.get_label_display}}"></span>
                            <span style="font-family:sans-serif">{{item.name}}</span>


                            <button class="btn btn-primary"><a style="font-family:sans-serif;color:white" href="{%url 'view' item.pk%}">View </a></button>

                        </div>
                    </div>
                        {%endfor%}

                        </div></div>
</center>

       <script>
           alert("if search, please use title case ")

       </script>

{%endblock%}
